node_modules
.next
out
dist
.DS_Store
.env*.local
.env.local
.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm-cache
.npm-logs
.pnpm-store/
.pnpm-store.corepack/
.corepack/


